<bs-row>
<col-12> <bs-row><col-12><h1>DnD 5e Character Sheet Manager (Beta)</h1></col-12></bs-row></col-12>
</bs-row>
<bs-row id ="main">
<col-12><h2>Pick or Create a Character</h2></col-12>
<ul class ="col-12" id ="main_list">
<li ng-repeat= "val in characters"><col-9><button ng-click = "open (val);">{{val. characterInformationList. characterName || "Unnamed"}}</button></col-9><col-3><button ng-click = "delete (val)">Delete</button></col-3></li>
</ul>
<col-12><button ng-click ="newCharacter()">New Character</button></col-12>
<col-12><button ng-click="importCharacter">Import Character</button></col-12>
<col-12><label for="import_char">Paste the json of the character you want to import and click import character</label></col-12>
  <col-12><input id="import_char" ng-model="characterToImport"/></col-12>
</bs-row>
